@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <label for="txtDate">Data Ordine</label>
        <div class="input-group date" id="caldate" data-provide="datepicker">
            <input type="text" class="form-control dateFormat pointer" readonly id="txtDataOrdine" style="padding:0px;"><span class="input-group-addon" style="padding: 2px;"><i class="glyphicon glyphicon-th datepicker pointer"></i></span>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <label for="txtDate">Data Pagam.</label>
        <div class="input-group date" id="caldate" data-provide="datepicker">
            <input type="text" class="form-control dateFormat pointer" readonly id="txtDataPagamento" style="padding:0px;"><span class="input-group-addon" style="padding: 2px;"><i class="glyphicon glyphicon-th datepicker pointer"></i></span>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <label for="txtDate">Data Cons.</label>
        <div class="input-group date" id="caldate" data-provide="datepicker">
            <input type="text" class="form-control dateFormat pointer" readonly id="txtDataConsegna" style="padding:0px;"><span class="input-group-addon" style="padding: 2px;"><i class="glyphicon glyphicon-th datepicker pointer"></i></span>
        </div>
    </div>
</div>