@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label for="txtDate">Data Dal</label>
            <div class="input-group date" id="caldate" data-provide="datepicker">
                <input type="text" class="form-control dateFormat pointer" readonly id="txtDataDa" style="padding:0px;"><span class="input-group-addon" style="padding: 2px;"><i class="glyphicon glyphicon-th datepicker pointer"></i></span>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label for="txtDate">Data Al</label>
            <div class="input-group date" id="caldate" data-provide="datepicker">
                <input type="text" class="form-control dateFormat pointer" readonly id="txtDataA" style="padding:0px;"><span class="input-group-addon" style="padding: 2px;"><i class="glyphicon glyphicon-th datepicker pointer"></i></span>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top:10px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Gruppi
                </div>
                <div class="panel-body" id="divGruppi">
                 

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row" style="margin-left:-12px !important; margin-right:-12px !important;">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" id="draggable">
                                <h2 class="panel-title padFix">Voci <span class="badge"><label id="lblNumRecord" style="margin-top:5px;">0</label></span></h2>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:right;">
                                
                                <button class="btn btn-primary" onclick="getMateriali(null, null,'dtGridMateriali',0,null,null,1)"><i class="glyphicon glyphicon-print"></i></button>
                                
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="input-group">
                                    <input type="text" name="criteria" class="form-control" placeholder="Ricerca Libera" id="txtRicerca">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" onclick="getMateriali(null, null,'dtGridMateriali',0)"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <input type="hidden" id="hdOrdinamentoMat" />
                <input type="hidden" id="hdOrdinamentoMatDesc" />
                <div class="panel-body" style="height: 327px; overflow-y: auto; padding:0px;">
                    <table class="table  table-striped table-bordered dt-responsive nowrap" id="dtGridMateriali" style="font-size: 9px !important;">
                        <thead>
                            <tr style="font-size: 9pt !important;">
                                <td class="text-center"><a href="#" onClick="getVoci(0, 'Descrizione')">Descrizione <i id="iiDescrizione" class="fa fa-arrow-circle-down Ordinamento" aria-hidden="true"></i></a></td>
                                <td class="text-center"><a href="#" onClick="getVoci(0, 'Gruppo')">Gruppo <i id="iiGruppo" class="fa fa-arrow-circle-down Ordinamento" aria-hidden="true"></i></a></td>
                                <td class="text-center"><a href="#" onClick="getVoci(0, 'Data')">Data <i id="iiData" class="fa fa-arrow-circle-down Ordinamento" aria-hidden="true"></i></a></td>
                                <td class="text-center"><a href="#" onClick="getVoci(0, 'Importo')">Importo <i id="iiImporto" class="fa fa-arrow-circle-down Ordinamento" aria-hidden="true"></i></a></td>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="input-group  col-lg-3 col-md-3 col-sm-3">
        <div class="row" style="margin-left:2px !important; ">
            <div class="panel panel-default">
                <div class="panel-heading " style=" height: 55px;">
                    <div class="row">
                        <h2 class="panel-title padFix">Calendario <span class="badge"><label id="lblNumRecord" style="margin-top:5px;">0</label></span></h2>
                    </div>
                </div>
                <input type="hidden" id="hdOrdinamentoMat" />
                <input type="hidden" id="hdOrdinamentoMatDesc" />
                <div class="panel-body" style="        height: 327px;        overflow-y: auto;         padding: 0px;">
                    <table class="table  table-striped table-bordered dt-responsive nowrap" id="dtGridVoci" style="font-size: 9px !important;">
                        <thead>
                            <tr style="font-size: 9pt !important;">                                
                                <td class="text-center"><a href="#" onClick="getVoci(0, 'Descrizione')">Descrizione <i id="iiDescrizione" class="fa fa-arrow-circle-down Ordinamento" aria-hidden="true"></i></a></td>
                                <td class="text-center"><a href="#" onClick="getVoci(0, 'Gruppo')">Gruppo <i id="iiGruppo" class="fa fa-arrow-circle-down Ordinamento" aria-hidden="true"></i></a></td>
                               
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
